.GhostButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border: 1px solid #687399;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.GhostButton:hover{
    background-color: rgba(0,0,0,0.05);
}

.GhostButton__icon{
    height: 22px;
    margin-right: 8px;
}

.GhostButton__title{
    font-size: 15px;
    font-weight: normal;
    color: white;
    cursor: pointer;
}

.GhostButton__spinner{
    margin-left: auto;
    margin-right: auto;
}

.GhostButton--is-disabled{
    cursor: not-allowed;
    pointer-events:none;
}
