.DepositStakeModal{
    display: flex;
    flex-direction: column;
    background-color: #242F4B;
    width: 500px;
    min-height: 540px;
    padding: 20px;
    box-sizing: border-box;
}

.DepositStakeModal__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.DepositStakePurposeContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.DepositStakePurposeContainer__instructions{
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: white;
    text-decoration: none;
    cursor: inherit;
    margin-bottom: 20px;
}

.DepositStakePurposeContainer__footer{
    margin-top: auto;
}

.DepositStakePurposeSelector{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.DepositStakePurposeSelectorItem{
    background-color: transparent;
    padding: 24px;
    border: 1px solid #687399;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

.DepositStakePurposeSelectorItem__title{
    font-size: 19px;
    font-weight: normal;
    line-height: 21px;
    color: white;
    text-decoration: none;
    cursor: inherit;
}

.DepositStakePurposeSelectorItem__subtitle{
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #92A2D6;
    text-decoration: none;
    cursor: inherit;
}


.DepositStakePurposeSelectorItem--is-selected{
    border: 1px solid #1BDED0;
    background-color: rgba(0,0,0,0.1);
}

.DepositStakePurposeSelectorItem--is-selected .DepositStakePurposeSelectorItem__title{
    color: #1BDED0;
}

.DepositStakePurposeSelectorItem--is-selected .DepositStakePurposeSelectorItem__subtitle{
    color: white;
}

.DepositStakePurposeSelectorItem--is-disabled{
    cursor: not-allowed;
    opacity: 0.3;
}

