.DepositStakeModal{
    display: flex;
    flex-direction: column;
    background-color: #1C243B;
    width: 500px;
    min-height: 551px;
    padding: 20px;
    box-sizing: border-box;
}

.DepositStakeModal__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 2px;
}

.StakePurposeContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.StakePurposeContainer__instructions{
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    color: white;
    text-decoration: none;
    cursor: inherit;
    margin-bottom: 20px;
}

.StakePurposeContainer__footer{
    margin-top: auto;
}
