.GuardianNodeDelegatesModal{
    display: flex;
    flex-direction: column;
    background-color: #242F4B;
    width: 500px;
    min-height: 551px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.GuardianNodeDelegatesModal__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 2px;
}

.GuardianNodeDelegatesContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.GuardianNodeDelegatesContainer__instructions{
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;
    color: white;
    text-decoration: none;
    cursor: inherit;
}

.GuardianNodeDelegatesContainer__footer{
    margin-top: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.GuardianNodeDelegatesContainer .Notification{
    margin: 20px;
}
