.ReceiveModal{
    display: flex;
    flex-direction: column;
    background-color: #1C243B;
    width: 500px;
    min-height: 540px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.ReceiveModal__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.ReceiveModal__public-address-title{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #92A2D6;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.ReceiveModal__public-address{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    color: white;
}

.ReceiveModal__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.ReceiveModal__qr{
    display: flex;
    align-self: center;
    width: 160px;
    height: 160px;
}

.ReceiveModal__faucet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.ReceiveModal__faucet-button{
    width: 110px;
}

.ReceiveModal__faucet-message{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}
