.WithdrawStakeModal{
    display: flex;
    flex-direction: column;
    background-color: #242F4B;
    width: 500px;
    min-height: 540px;
    padding: 20px;
    box-sizing: border-box;
}

.WithdrawStakeModal__title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
