.StakesPage{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.StakesPage__detail-view{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #242b45;
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
    position: relative;
}

.StakesPage__detail-view-spinner{
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.StakesPage__header-buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    margin-left: 12px;
}

