.UnlockWalletPage{
    display: flex;
    flex-direction: column;
    align-items: center;
//justify-content: center;
    flex: 1;
}

.UnlockWalletPage__wrapper{
    display: flex;
    flex-direction: column;
    max-width: 580px;
    width: 100%;
    height: 550px;
}

.UnlockWalletPage__title{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    line-height: 33px;
    min-height: 33px;
    color: white;
    margin-bottom: 20px;
}

.UnlockWalletPage__subtitle{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.UnlockWalletPage__subtitle a{
    margin-left: 6px;
}


.UnlockWalletCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #242F4B;
    min-height: 420px;
}

.UnlockWalletCard__content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 17px;
    padding-top: 0;
}

.UnlockWalletCard__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    /*border-bottom: 1px solid rgba(75, 81, 110, 0.5);*/
    margin-bottom: 17px;
}

.UnlockWalletCard__footer{
    margin-top: auto;
}

.UnlockWalletCard__title{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
}

.UnlockWalletCard__subtitle{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    color: #92A2D6;
}

.UnlockWalletCard__tab-bar{
    width: calc(100% + 34px);
}