.WalletPage{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.WalletPage__master-view{
    width: 362px;
}

.WalletPage__detail-view{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #242b45;
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
    position: relative;
}