.Balance, .AddTokenCTA{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 54px;
  background-color: $grey-background-color;
  background-color: #242b45;
  margin-bottom: 7px;
  padding: 12px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 6px;
  text-decoration: none;

  &__icon-wrapper{
    height: 30px;
    width: 30px;
    margin-right: 8px;

    // Make the avatar not be an oval shape
    div{
      width: 100%;
      height: 100%;
    }
  }

  &__icon{
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    border-radius: 15px;
  }

  &__name{
    color: $grey-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
  }

  &__amount{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__amount-title-and-value{
    display: flex;
    justify-content: end;
  }

  &__amount-title{
    color: $grey-color;
    margin-right: 6px;
  }

  &__amount-value{
    color: white;
  }
}

.AddTokenCTA{

}
