.ERC20Badge{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #576991;
    height: 16px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 1px;
}

.ERC20Badge__text{
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    color: #1C243B;
    text-transform: uppercase;
    margin-top: 2px;
}