.EthereumNetworkTxForm{

}

.EthereumNetworkTxForm input{
    width: 100%;
}

.EthereumNetworkTxForm select{
    width: 100%;
}

.EthereumNetworkTxForm__entire-balance{
    display: flex;
    align-self: flex-start;
    text-align: left;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-left: 12px;
}

.EthereumNetworkTxForm__fee-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 105px;
    margin-bottom: 20px;
}

.EthereumNetworkTxForm__tx-fee-container{
    display: flex;
    flex-direction: column;
}

.EthereumNetworkTxForm__gas-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.EthereumNetworkTxForm__toggle-gas-details{
    font-size: 13px;
    color: white;
    margin-left: 12px;
    cursor: pointer;
}