.FormInputContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.FormInputContainer__title{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #92A2D6;
}

.FormInputContainer__input-container{
    display: flex;
    flex: 1;
    width: 100%;
}

.FormInputContainer__error{
    font-size: 13px;
    font-weight: normal;
    color: #ff1d25;
    min-height: 15px;
    margin-top: 4px;
}

.BottomBorderInput{
    height: 34px;
    border: none;
    outline: none;
    border-bottom: 1px solid #687399;
    font-size: 17px;
    font-weight: 300;
    background-color: transparent;
    color: white;
    border-radius: 0;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    background: #fff url('/img/icons/arrow-down@2x.png') no-repeat;
    background-size: 20px;
    background-position:  right 10px center;
    padding-right: 30px;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}