.TabBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: rgba(59, 66, 99, 0.2);
    padding-left: 29px;
    padding-right: 29px;
}

.TabBar--is-centered{
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.TabBar--is-centered .TabBarItem{
    margin-left: 25px;
    margin-right: 25px;
}