.ThetaTransactionListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #4B516E;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: calc(132px - 30px);
    cursor: pointer;
    padding-right: 10px;
    transition: background-color, 0.3s, ease-in-out;
}

.ThetaTransactionListItem__left-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ThetaTransactionListItem__right-container{
    display: flex;
    flex-direction: column;
}

.ThetaTransactionListItem *{
    cursor: pointer;
}

.ThetaTransactionListItem:hover{
    background-color: rgba(0,0,0,0.05);
}

.ThetaTransactionListItem__top-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22px;
}

.ThetaTransactionListItem__middle-container{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ThetaTransactionListItem__bottom-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 22px;
}

.ThetaTransactionListItem__address-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.ThetaTransactionListItem__address-prefix{
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #92A2D6;
    margin-right: 5px;
    height: 16px;
}

.ThetaTransactionListItem__address{
    font-size: 18px;
    font-weight: 100;
    line-height: 18px;
    color: white;
    height: 18px;
    padding-right: 5px;
    text-overflow: ellipsis;
}

.ThetaTransactionListItem__amount-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 15px;
}

.ThetaTransactionListItem__amount{
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    height: 28px;
    color: white;
    text-align: right;
}

.ThetaTransactionListItem__amount-icon{
    height: 20px;
    margin-left: 6px;
}

.ThetaTransactionListItem__date{
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #7A88B5;
    height: 14px;
}

.ThetaTransactionListItem__token-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 19px;
}

.ThetaTransactionListItem__token-symbol{
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    color: #92A2D6;
    height: 15px;
}

.ThetaTransactionListItem__token-icon{
    height: 18px;
    width: 18px;
    margin-left: 5px;
}

@media only screen and (max-width: 1000px) {
    .ThetaTransactionListItem__amount{
        font-size: 20px;
    }
}