.TransactionStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TransactionStatus__dot{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #92A2D6;
    margin-right: 6px;
}

.TransactionStatus__text{
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    height: 10px;
    color: #92A2D6;
    text-transform: uppercase;
}

.TransactionStatus--is-inbound .TransactionStatus__dot{
    background-color: #10EDBD;
}

.TransactionStatus--is-inbound .TransactionStatus__text{
    color: #10EDBD;
}
