.WalletTokenListItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 110px;
    padding-left: 22px;
    padding-right: 22px;
    border-bottom: 1px solid rgba(75, 81, 110, 0.5);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
    position: relative;
}

.WalletTokenListItem__active-indicator{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background: #1BDED0; /* Old browsers */
    background: -moz-linear-gradient(bottom, #22ABE3 0%, #1BDED0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #22ABE3 0%,#1BDED0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #22ABE3 0%,#1BDED0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 100%;
    display: none;
}

.WalletTokenListItem__token-container{
    display: flex;
    flex-direction: row;
}

.WalletTokenListItem__token-balance-container{
    display: flex;
    flex-direction: column;
}

.WalletTokenListItem__token-icon{
    width: 40px;
    height: 40px;
    margin-right: 17px;
}

.WalletTokenListItem__token-name{
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: #92A2D6;
    text-decoration: none;
}

.WalletTokenListItem__token-balance{
    font-size: 19px;
    font-weight: normal;
    line-height: 21px;
    color: white;
    text-decoration: none;
}

.WalletTokenListItem__action-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 58px;
    margin-top: 20px;
}

.WalletTokenListItem__action-buttons .GhostButton:first-child{
    margin-right: 12px;
}

.WalletTokenListItem--is-active{
    background-color: #242b45;
}

.WalletTokenListItem:hover{
    background-color: #242b45;
}

.WalletTokenListItem--is-active .WalletTokenListItem__active-indicator{
    display: block;
}