.Warning{
    padding: 6px 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: rgba(255, 48, 86, 0.30);
    color:#FF3056;
    font-size: 14px;
}

.Warning__learn-more{
    text-decoration: underline;
    color: white;
    margin-left: 6px;
    cursor: pointer;
}
